.Container, {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.Board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row;
  width: 300px;
  height: 245px;
  margin: 0 auto;
  padding: 10px;

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 700px) {

  .Board {
    width: 600px;
    height: 500px;
    // margin: 0 auto;

    &__panel {
      justify-content: center;
    }
  }
}

@media screen and (min-width: 920px) {
  .Container {
    flex-direction: row;
    justify-content: space-around;

  }
}
@media screen and (min-width: 1200px) {
  .Container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

