.Controls {
  display: flex;
  justify-content: center;
  margin: 40px 10px;
  padding: 0;
  list-style: none;

  &__item {
    margin: 10px;
  }

  &__btn {
    font-size: 1.8rem;
    color: #10ac84;
    background: transparent;
    outline: 0;
    border: 2px solid #10ac84;
    border-radius: 10px;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #ff6b6b;
      border-color: #ff6b6b;
    }
  }
}